---
trigger:
  - main
pool:
  vmImage: ubuntu-latest
stages:
  - stage: null
    displayName: Build
    jobs:
      - job: Build
        steps:
         - task: Maven@4
           inputs:
            mavenPomFile: pom.xml
            publishJUnitResults: true
            testResultsFiles: "**/surefire-reports/TEST-*.xml"
            javaHomeOption: JDKVersion
            jdkVersionOption: "1.8"
            mavenVersionOption: Default
            mavenAuthenticateFeed: false
            effectivePomSkip: false
            sonarQubeRunAnalysis: false

         - task: CopyFiles@2
           inputs:
             SourceFolder: 'target'
             Contents: '**'
             TargetFolder: '$(Build.ArtifactStagingDirectory)'
         - task: PublishBuildArtifacts@1
           inputs:
            PathtoPublish: $(Build.ArtifactStagingDirectory)
            ArtifactName: Chart
            publishLocation: Container

  - stage :
    displayName: Release
    jobs:
      - job: Release
        steps :
        - task: AzureRmWebAppDeployment@4
          inputs:
            ConnectionType: 'AzureRM'
            azureSubscription: 'Azure Service Connection'
            appType: 'webAppLinux'
            WebAppName: 
            packageForLinux: '$(System.DefaultWorkingDirectory)/**/*.zip'
            StartupCommand: 'java -jar *.jar'
