---
trigger:
  - main
pool: Default
 
stages:
  - stage: null
    displayName: Build
    jobs:
      - job: Build
        steps:
         - task: Maven@4
           inputs:
             mavenPomFile: 'pom.xml'
             publishJUnitResults: true
             testResultsFiles: '**/surefire-reports/TEST-*.xml'
             javaHomeOption: 'JDKVersion'
             mavenVersionOption: 'Default'
             mavenAuthenticateFeed: false
             effectivePomSkip: false
             sonarQubeRunAnalysis: false

         - task: CopyFiles@2
           inputs:
             SourceFolder: 'target'
             Contents: '**'
             TargetFolder: '$(Build.ArtifactStagingDirectory)'
         - task: PublishBuildArtifacts@1
           inputs:
            PathtoPublish: $(Build.ArtifactStagingDirectory)
            ArtifactName: Chart
            publishLocation: Container

  - stage :
    displayName: Release
    jobs:
      - job: Release
        steps :
        - task: AzureRmWebAppDeployment@4
          inputs:
            ConnectionType: 'AzureRM'
            azureSubscription: 'Azure subscription 1(87b74e33-e176-45a4-8715-d45a0e0cebf9)'
            appType: 'webAppLinux'
            WebAppName: 'groceryapp-online'
            packageForLinux: '$(System.DefaultWorkingDirectory)/*.jar'
            StartupCommand: 'java -jar *.jar'
